<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Bienvenido a Puffy</title>
    </head>
    <body>
        <%- include('../partials/header') %>

        <main class=agregar>
            <h1 class="producto">Agregar Producto</h1>
            <form action="/productos/agregarProducto" method="post" class="form-agregar">
              <section class="fill-add"> 
                  <div class="fill-add-1">
                    <label for="nombre" class="name-label">Nombre del producto:</label>
                    <input type="text" id="nombre" name="nombre" class="name-input"/>
                    <br />
                    <label for="descripcion" class="des-label">Descripción:</label>
                    <textarea class="des-box"
                        name="descripcion"
                        id="descripcion"
                        cols="30"
                        rows="5"
                    ></textarea>
                </div>
                <div class="fill-add-2">
                    <label for="imagen">Imagen del producto:</label>
                    <input type="file" name="imagen" id="imagen" />
                    <br />
                    <label for="categoria">Categoría:</label>
                    <select name="categoria" id="categoria">
                        <% for(let i of categorias){ %>
                        <option value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                    <br />
                    <label for="tam">Tamaño: </label>
                    <select name="tam" id="tam">
                        <option value="0">Chico</option>
                        <option value="1">Mediano</option>
                        <option value="2">Grande</option>
                    </select>
                    <br />
                    <label for="precio">Precio: $ </label>
                    <input type="number" id="precio" name="precio" /><span>mxn</span>
                </div>
            </section>
                <div class="input-agregar">
                <input type="submit" value="Enviar"/>
                </div>
            </form>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>
