<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Bienvenido a Puffy</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <h1 class="tit-add-mod">Agregar Producto</h1>
            <form action="/productos/agregar" method="post" class="form-add-mod">
                <section class="add-mod">
                    <div class="add-mod-1">
                        <label for="nombre" class="bold">Nombre del producto:</label>
                        <input type="text" id="nombre" name="nombre" class="add-mod-name" placeholder="''Pastel de Zanahoría''" required/>
                        <br />
                        <label for="descripcion" class="bold">Descripción:</label>
                        <textarea class="add-mod-des" name="descripcion" id="descripcion" cols="30" rows="5" placeholder="''Pastel rico de zanahoría, con piña y nueces. ¡Muy esponjosito!''"></textarea>
                    </div>
                    <div class="add-mod-2">
                        <label for="imagen" class="bold">Imagen del producto:</label>
                        <input type="file" name="imagen" id="imagen" class="add-mod-img" />
                        <br />
                        <label for="categoria" class="bold">Categoría:</label>
                        <select name="categoria" id="categoria" class="add-mod-cat">
                        <% for(let i=0; i<categorias.length; i++){ %>
                            <option value="<%= i %>"><%= categorias[i] %></option>
                        <% } %>
                    </select>
                        <br />
                        <label for="tam" class="bold">Tamaño: </label>
                        <select name="tam" id="tam" class="add-mod-tam">
                        <option value="0">Chico</option>
                        <option value="1">Mediano</option>
                        <option value="2">Grande</option>
                    </select>
                        <br />
                        <label for="precio" class="bold">Precio: $ </label>
                        <input type="number" id="precio" name="precio" class="add-mod-price" required/><span> mxn</span>
                    </div>
                </section>
                <div class="enviar-add-mod">
                    <input type="submit" value="Enviar" />
                </div>
            </form>
            <hr/>
        </main>

        <%- include('../partials/footer') %>
</body>

</html>