<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Detalle del producto</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="contenedor-producto">
            <!--             
            <div class="info-pasteleria">
                <div>
                    <img src="/images/pasteleria.png" alt="icono pasteleria" />
                
                </div>
                <h2>Linda Pasteleria</h2>
            </div>
             -->
            <div class="platillo">
                <h1 class="fuente-may">
                    <%= productDetail.name %>
                </h1>
                <img src="<%= image.url %>" alt="imagen postre" />
                <% if(locals.userIsAdmin){ %>
                    <div class="listado-productos">
                        <a href="/productos/<%= productDetail.id %>/edit" class="editar">Editar</a>
                        <a href="#" onclick="showModal()" class="delete">Eliminar</a>
                    </div>
                    <div id="id01" class="modal">
                        <span onclick="hideModal()" class="close-btn" title="Close Modal">×</span>
                        <form class="modal-content" method="post" action="/productos/<%= productDetail.id %>/delete?_method=DELETE">
                            <div class="container">
                                <h1>Eliminar producto</h1>
                                <p>¿Estás seguro de eliminar este producto?</p>
                                <div class="clearfix">
                                    <button type="button" onclick="hideModal()" class="confirm-button confirm-cancelbtn">Cancelar</button>
                                    <button type="submit" class="confirm-button confirm-deletebtn">Borrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                <% } else { %>
                    <%if (prodIsAvailable) {%>
                    <form action="/cart/addProduct" method="post">
                        <input type="hidden" name="productId" value="<%= productDetail.id %>">
                        <button type="submit" class="btn-agregar-carrito">
                            Agregar al carrito
                        </button>
                    </form>
                    <% } else { %>
                        <button class="btn-agregar-carrito" style="background-color: #999;" disabled>
                            Producto agotado
                        </button>
                    <% } %>
                <% } %>

            </div>
            <div class="form-producto">
                <section class="separacion producto">
                    <div class="info-producto">
                        <div class="nombre">
                            <div class="datos">
                                <div class="d-precio">
                                    <p class="p-precio bold">$
                                        <%= productDetail.price %> MXN
                                    </p>
                                    <!-- <p class="gris">IVA INCLUIDO</p> -->
                                </div>
                            </div>
                            <p>
                                <b>Tamaño:</b> <%= productDetail.size===0 ? "Chico" : (productDetail.size===1 ? "Mediano" : "Grande") %>
                                 | <b>Categoría:</b> <%= category.category.name %>
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <section class="separacion content detalle-producto">
                <div class="encabezado">
                    <h3>DESCRIPCIÓN DEL PRODUCTO</h3>
                    <div>
                        <img src="/images/detalle.svg" alt="imagen flecha" />
                    </div>
                </div>
                <div class="contenido">
                    <div class="imagen">
                        <img src="/images/plato.svg" alt="imagen plato" />
                    </div>
                    <p>
                        <%= productDetail.description %>
                    </p>
                </div>
            </section>
            <section class="separacion fuente-may pregunta">
                <h3>Haz una pregunta</h3>
                <form action="#">
                    <input type="text" placeholder="Haz una pregunta a la tienda..." />
                    <input class="btn-submit" type="submit" value="Enviar" />
                </form>
            </section>
        </main>
        <script>
            let modal = document.getElementById('id01');

            const showModal = function () {
                modal.style.display = 'block'
            }

            const hideModal = function () {
                modal.style.display = 'none'
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    hideModal();
                }
            }
        </script>

        <%- include('../partials/footer') %>
</body>

</html>