<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Detalle del producto</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="contenedor-producto">
            <div class="info-pasteleria">
                <div>
                    <img src="/images/pasteleria.png" alt="icono pasteleria" />
                
                </div>
                <h2>Linda Pasteleria</h2>
            </div>
            <div class="platillo">
                <img src="<%= image.url %>" alt="imagen postre" />
                
            </div>
            <div class="form-producto">
                <section class="separacion producto">
                    <div class="info-producto">
                        <div class="nombre">
                            <h1 class="fuente-may">
                                <%= productDetail.name %>
                            </h1>
                            <div class="datos">
                                <div class="d-precio">
                                    <p class="p-precio bold">$
                                        <%= productDetail.price %> MXN
                                    </p>
                                    <p class="gris">IVA INCLUIDO</p>
                                </div>
                            </div>
                            <div class="tamanio">
                                <label for="tam">Tamaño:</label>
                                <select name="tam" id="tam" autocomplete="off" disabled>
                                    <option value="chico" <%= productDetail.size===0 ? "selected" : "" %>>Chico</option>
                                    <option value="mediano" <%= productDetail.size===1 ? "selected" : "" %>>Mediano
                                    </option>
                                    <option value="grande" <%= productDetail.size===2 ? "selected" : "" %>>Grande
                                    </option>
                                </select>
                            </div>
                            <div class="tamanio">
                                <label for="categorita">Categoría:</label>
                                <select name="categorita" id="categorita" autocomplete="off" disabled>
                                    <option><%= category %></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <section class="separacion content detalle-producto">
                <div class="encabezado">
                    <h3>DESCRIPCIÓN DEL PRODUCTO</h3>
                    <div>
                        <img src="/images/detalle.svg" alt="imagen flecha" />
                    </div>
                </div>
                <div class="contenido">
                    <div class="imagen">
                        <img src="/images/plato.svg" alt="imagen plato" />
                    </div>
                    <p>
                        <%= productDetail.description %>
                    </p>
                </div>
            </section>
            <section class="separacion fuente-may pregunta">
                <h3>Haz una pregunta</h3>
                <form action="#">
                    <input type="text" placeholder="Haz una pregunta a la tienda..." />
                    <input class="btn-submit" type="submit" value="Enviar" />
                </form>
            </section>
            <hr />
        </main>

        <%- include('../partials/footer') %>
</body>

</html>