<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Detalle del producto</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="contenedor-listado">

            <h2>Productos</h2>
            <br />

            <a href="/productos/agregar" class="boton btn-agregar">Agregar</a>

            <div class="nuevos-postres">
                <% productsList.map((product)=> { %>
                    <article class="product-box">
                        <a href="/productos/<%= product.id %>">
                            <figure class="product-box_image">
                                <img src="<%= Img.filter(image => image.productId==product.id)[0].url%>" alt="<%= product.name %>">
                            </figure>
                            <div class="product-box_data">
                                <h3>
                                    <%= product.name %>
                                </h3>
                                <p>$<%= product.price.toFixed(2) %> mxn</p>
                                <span>
                                    <%= product.discount ? `- ${product.discount}%` : "" %>
                                </span>
                            </div>
                        </a>
                    </article>
                    <% }) %>
            </div>
        </main>

        <%- include('../partials/footer') %>
</body>

</html>