<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Detalle del producto</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="contenedor-listado">

            <a href="/productos/agregar" class="boton btn-agregar">Agregar</a>

            <table class="listado-productos">
                <thead>
                    <th>Imagen</th>
                    <th class="desaparecer">Producto</th>
                    <th class="desaparecer">Precio</th>
                    <th>Opciones</th>
                </thead>
                <tbody>
                    <% for(let producto of productsList){ %>
                        <tr>

                            <td> <img src="<%= Img.filter(image => image.productId==producto.id)[0].url%>" alt=""><span
                                    class="nombre-imagen">
                                    <%= producto.nombre %>
                                </span></td>

                            <td class="desaparecer">
                                <%= producto.name %>
                            </td>
                            <td class="desaparecer">$
                                <%= producto.price %>
                            </td>
                            <td class="opciones">
                                <a href="/productos/<%= producto.id %>" class="mostrar">Mostrar</a>
                                <a href="/productos/modificar/<%= producto.id %>" class="editar">Editar</a>
                                <a href="/productos/delete/<%= producto.id %>?_method=DELETE"
                                    class="delete">Eliminar</a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </main>

        <%- include('../partials/footer') %>
</body>

</html>