<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Detalle del producto</title>
    </head>
    <body>
        <%- include('../partials/header') %>

        <main class="contenedor-producto">
            <table class="listado-productos">
                <thead>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Opciones</th>
                </thead>
                <tbody>
                <% for(let producto of productos){ %>
                    <tr>
                        <td><%= producto.imagen%></td>
                        <td><%= producto.nombre %> </td>
                        <td><%= producto.precio %> </td>
                        <td><button>Editar</button> <button>Mostrar</button> <a href="/eliminar/<%= producto.id %>" class="btn btn-danger">Delete</a></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>
