<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Bienvenido a Puffy</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <h1 class="tit-add-mod">Modificar Producto</h1>
            <form action="/productos/modificar/<%= producto.id %>?_method=PUT" method="post" class="form-add-mod">
                <section class="add-mod">
                    <div class="add-mod-1">
                        <label for="nombre" class="bold">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" value="<%= producto.nombre %>" class="add-mod-name" required/>
                        <br />
                        <label for="descripcion" class="bold">Descripción:</label>
                        <textarea class="add-mod-des" ame="descripcion" id="descripcion" cols="30" rows="5">
                            <%= producto.descripcion %>
                        </textarea>
                        <br />

                        <label for="categoria" class="bold">Categoría:</label>
                        <select name="categoria" id="categoria" class="add-mod-cat" autocomplete="off">
                            <% for(let i = 0; i<categorias.length; i++){ %>
                                <% if(producto.categoria===i){ %>
                                    <option value="<%= i %>" selected>
                                        <%= categorias[i] %>
                                    </option>
                                <% } else { %>
                                    <option value="<%= i %>">
                                        <%= categorias[i] %>
                                    </option>
                                <% } %>
                            <% } %>
                        </select>
                        <label for="tam" class="bold">Tamaño: </label>
                        <select name="tam" id="tam" class="add-mod-tam" autocomplete="off">
                            <option value="0" <%=producto.tam===0 ? "selected" : "" %>>Chico</option>
                            <option value="1" <%=producto.tam===1 ? "selected" : "" %>>Mediano</option>
                            <option value="2" <%=producto.tam===2 ? "selected" : "" %>>Grande</option>
                        </select>
                        <br />
                        <label for="precio" class="bold">Precio: </label>
                        <input type="number" id="precio" name="precio" value="<%= producto.precio %>" class="add-mod-price" required/><span>mxn</span>
                    </div>
                    <div class="add-mod-2">
                        <label for="imagen" class="bold">Imagen del producto:</label>
                        <div>
                            <img src="/images/<%= producto.imagen %>" alt="" class="img-add-mod">
                            <input type="file" name="imagen" id="imagen" />
                        </div>
                    </div>
                </section>


                <div class="enviar-add-mod">

                    <input type="submit" value="Enviar" class="enviar-add-mod" />
                </div>
            </form>
            <hr />
        </main>

        <%- include('../partials/footer') %>
</body>

</html>