<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <title>Bienvenido a Puffy</title>
    </head>
    <body>
        <%- include('../partials/header') %>

        <main>
            <h1 class="tit-add-mod">Modificar Producto</h1>
            <form action="/productos/modificarProducto" method="post" class="form-add-mod">
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" value="<%= postre.nombre %>" class="add-mod-name"/>
                    <br />
                    <label for="descripcion">Descripción:</label>
                    <textarea
                        class="add-mod-des"
                        name="descripcion"
                        id="descripcion"
                        cols="30"
                        rows="5"
                    ><%= postre.descripcion %>
                    </textarea>
                </div>
                <div>
                    <label for="imagen">Imagen del producto:</label>
                    <img src="/images/<%= postre.img %>.jpg" alt="" style="width:10%">
                    <br>
                    <input type="file" name="imagen" id="imagen" />
                    <br />
                    <label for="categoria">Categoría:</label>
                    <select name="categoria" id="categoria" class="add-mod-cat">
                        <% for(let i of categorias){ %>
                            <% if(postre.categoria === i){ %> 
                                <option value="<%= i %>" selected><%= i %></option>
                            <% } else { %>
                                <option value="<%= i %>"><%= i %></option>
                            <% } %>  
                        <% } %>
                    </select>
                    <br />
                    <label for="tam">Tamaño: </label>
                    <select name="tam" id="tam" class="add-mod-tam">
                        <option value="0" <%= postre.tam === 0 ? "selected" : "" %>>Chico</option>
                        <option value="1" <%= postre.tam === 1 ? "selected" : "" %>>Mediano</option>
                        <option value="2" <%= postre.tam === 2 ? "selected" : "" %>>Grande</option>
                    </select>
                    <br />
                    <label for="precio">Precio: </label>
                    <input type="number" id="precio" name="precio" value="<%= postre.precio %>" class="add-mod-price"/><span
                        >mxn</span
                    >
                </div>
                <input type="submit" value="Enviar" class="enviar-add-mod"/>
            </form>
        </main>

        <%- include('../partials/footer') %>
    </body>
</html>
