<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Bienvenido a Puffy</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <h1 class="tit-add-mod">Modificar Producto</h1>
            <form id="formulario" action="/productos/<%= producto.id %>/edit?_method=PUT" method="post"
                class="form-add-mod" enctype="multipart/form-data">
                <section class="add-mod">
                    <div class="add-mod-1">
                        <label for="name" class="bold">Nombre:</label>
                        <input type="text" id="name" name="name" value="<%= producto.name %>"
                            class="add-mod-name <%= locals.errors && errors.name ? 'is-invalid' : null %>" required />
                        <p id='p_name' class="alertp">El nombre del producto debe tener al menos 5 carácteres
                            alfanúmericos.</p>

                        <br />
                        <label for="descripcion" class="bold">Descripción:</label>
                        <textarea class="add-mod-des" name="description" id="descripcion" cols="30" rows="5"><%= producto.description %></textarea>
                        <p id='p_description' class="alertp">La descripción debe contener mínimo 20 y máximo 250 carácteres
                            alfanúmericos.</p>
                        <br />

                        <label for="category" class="bold">Categoría:</label>

                        <select name="category" id="category"
                            class="add-mod-cat <%= locals.errors && errors.category ? 'is-invalid' : null %>"
                            autocomplete="off">
                            <% categories.map( category=> { %>
                                <option value="<%= category.id %>" <%=category.id==producto.category ? "selected" : ""
                                    %>>
                                    <%= category.name %>
                                </option>
                                <% }) %>
                        </select>


                        <label for="size" class="bold">Tamaño: </label>
                        <select name="size" id="size"
                            class="add-mod-tam <%= locals.errors && errors.size ? 'is-invalid' : null %>"
                            autocomplete="off">
                            <option value="0" <%=producto.size==0 ? "selected" : "" %>>Chico</option>
                            <option value="1" <%=producto.size==1 ? "selected" : "" %>>Mediano</option>
                            <option value="2" <%=producto.size==2 ? "selected" : "" %>>Grande</option>
                        </select>
                        <br />
                        <label for="quantity" class="bold">Cantidad: </label>
                        <input type="number" name="quantity" id="quantity" value="<%= producto.quantity %>"
                            class="add-mod-price">
                        <p id='p_quantity' class="alertp">Escribe la cantidad de este producto.</p>

                        <br />
                        <label for="price" class="bold">Precio: </label>
                        <input type="number" id="price" name="price" value="<%= producto.price %>"
                            class="add-mod-price <%= locals.errors && errors.price ? 'is-invalid' : null %>"
                            required /><span>mxn</span>
                        <p id='p_price' class="alertp">Escribe el precio de este producto.</p>

                    </div>
                    <div class="add-mod-2">
                        <label for="imagen" class="bold">Imagen del producto:</label>
                        <div>
                            <img src="<%= image.url %>" alt="" class="img-add-mod">
                            <input type="file" name="image" id="imagen" accept="image/png, image/jpeg, image/jpg"
                                class="add-mod-img" />
                        </div>
                    </div>
                </section>

                <p id="mensaje_incorrecto" class="display_none">  <b>Error:</b> Por favor rellena el formulario correctamente. </p>


                <div class="alert">
                    <% if(locals.errors){%>
                        <%= errors.name ? errors.name.msg : "" %>
                            <br />
                            <%= errors.category ? errors.category.msg : "" %>
                                <br />
                                <%= errors.size ? errors.size.msg : "" %>
                                    <br />
                                    <%= errors.price ? errors.price.msg : "" %>
                                        <br />
                                        <br />
                                        <% } %>
                </div>

                <div class="enviar-add-mod">

                    <input type="submit" value="Enviar" class="enviar-add-mod" />
                </div>
            </form>
            <hr />
        </main>
        <script src="/js/productValidation.js"></script>
        <%- include('../partials/footer') %>
</body>

</html>