<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../../partials/head') %>
        <title>Agregar Dirección</title>
</head>

<body>

    <%- include('../../partials/header') %>

        <main class="form">
            <h3>Agregar dirección</h3>
            <form action="/users/<%= sessionId %>/newAddress" method="post">
                <div class="container_01">
                    <label for="line1"> Dirección</label>
                    <input name="line1" type="text" placeholder="Parte 1" class="fill <%= locals.errors && errors.line1 ? 'is-invalid' : null %>" value="<%=locals.oldData ? oldData.line1 : null %>" required/>
                    <input name="line2" type="text" class="fill" placeholder="Parte 2"/>
                    <label for="zip">C.P.</label>
                    <input name="zip" type="number" maxlength="5" class="fill <%= locals.errors && errors.zip ? 'is-invalid' : null %>" value="<%=locals.oldData ? oldData.zip : null %>"  required/>
                    <br />
                    <label for="city">Municipio/Delegación</label>
                    <input name="city" type="text" placeholder="Municipio / Delegación"  class="fill <%= locals.errors && errors.city ? 'is-invalid' : null %>" value="<%=locals.oldData ? oldData.city : null %>" required />
                    <label for="state">Estado</label>
                    <select name="state" id="state"  class="fill <%= locals.errors && errors.state ? 'is-invalid' : null %>"  required>
                        <option></option>
                        <% estados.map(estado => { %>
                            <option value="<%= estado %>" <%=locals.oldData && oldData.state == estado ? "selected" : null %>><%= estado %></option>
                        <% }) %>
                    </select>
                    <label for="country">País</label>
                    <select name="country" id="country" class="fill">
                        <option value="Mexico" selected>México</option>
                    </select>

                </div>

                <div class="alert">
                    <% if(locals.errors){%>
                        <%= errors.line1 ? errors.line1.msg : "" %>
                        <br />
                        <%= errors.zip ? errors.zip.msg : "" %>
                        <br />
                        <%= errors.city ? errors.city.msg : "" %>
                        <br />
                        <%= errors.state ? errors.state.msg : "" %>
                        <br />
                        <br />
                    <% } %>
                </div>


                <div class="button_01">
                    <input type="submit" value="GUARDAR" />
                </div>


            </form>
        </main>

        <%- include('../../partials/footer') %>
</body>

</html>