<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>Listo para realizar tu pedido</title>
        
</head>

<body>
    <%- include('partials/header') %>

        <main class="carrito">
            <h1 class="fuente-may">Carrito</h1>
            <section class="lista-productos cart-items">

            </section>


            <section class="total">
                <div class="grupo subtotal">
                    Subtotal (0 items): $0
                </div>
                <div class="grupo">
                    <p>Envío:</p>
                    <p>$ 65.00 mxn</p>
                </div>
                <div class="grupo">
                    <p>Total:</p>
                    <div class="precio-total">
                    </div>
                </div>
                <form action="/carrito/create" class="cart-form" method="post">
                    <input type="hidden" name="userCart" value="<%= userCart %>">
                    <input type="hidden" name="userType" value="<%= userType %>">
                    <input class="boton" type="submit" value="Realizar compra" />
                </form>
            </section>
            <hr />
        </main>
        <%- include('partials/footer') %>
        <script>
            let myVar = <%- JSON.stringify(cart) %>;
            localStorage.removeItem("CART");
            localStorage.setItem("CART", JSON.stringify(myVar));
        </script>
        <script src="/js/cart.js"></script>
</body>

</html>
