<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>Listo para realizar tu pedido</title>
        
</head>

<body>
    <%- include('partials/header') %>

        <main class="carrito">
            <h1 class="fuente-may">Carrito</h1>
            <section class="lista-productos cart-items">

            </section>


            <section class="total">
                <div class="grupo subtotal">
                    Subtotal (0 items): $0
                </div>
                <div class="grupo">
                    <p>Envío:</p>
                    <p>$ 65.00 mxn</p>
                </div>
                <div class="grupo">
                    <p>Total:</p>
                    <div class="precio-total total-items-in-cart">
                        <p>$ <%= totalPrice + 65 %> mxn</p>
                        <p class="gris">IVA INCLUIDO</p>
                    </div>
                </div>
                <form action="/users/<%= userCart.userId  %>/carrito?_method=PUT" method="post">
                    <input type="hidden" name="total" id="total" value="<%= totalPrice %>">
                    <input class="boton" type="submit" value="Realizar compra" />
                </form>
            </section>
            <hr />
        </main>
        <%- include('partials/footer') %>
        <script>
            let myVar = <%- JSON.stringify(finalProducts) %>;
            localStorage.removeItem("CART");
            localStorage.setItem("CART", JSON.stringify(myVar));
        </script>
        <script src="/js/cart.js"></script>
</body>

</html>
