<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>Bienvenido a Puffy</title>
</head>

<body>
    <%- include('partials/header') %>

        <main>
            <section id="slider">
                <input type="radio" name="slider" id="slide1" checked />
                <input type="radio" name="slider" id="slide2" />
                <input type="radio" name="slider" id="slide3" />
                <div id="slides">
                    <div id="overflow">
                        <div class="inner">
                            <div class="slide slide_1">
                                <div class="slide-content">
                                    <h2>Bienvenido</h2>
                                    <p>Postres de todo tipo.</p>
                                </div>
                                <img src="/images/logo.svg" alt="logo" />
                            </div>
                            <div class="slide slide_2">
                                <div class="slide-content">
                                    <a href="/productos">
                                        <h2>Colecciones</h2>
                                        <p>para distintos antojos.</p>
                                    </a>
                                </div>
                                <img src="/images/plato.svg" alt="prueba" />
                            </div>
                            <div class="slide slide_3">
                                <div class="slide-content">
                                    <a href="/productos">
                                        <h2>Postres</h2>
                                        <p>Puedes ver todas nuestras opciones</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                </div>
                <div id="bullets">
                    <label for="slide1"></label>
                    <label for="slide2"></label>
                    <label for="slide3"></label>
                </div>
            </section>
            <section class="desctacados">
                <div class="postres">
                    <article class="postre-del-dia">
                        <a href="/productos/<%= highlight.id %>">
                            <h3>Postre del día</h3>
                            <figure>
                                <img src="<%= highlight.image %>" alt="Postre del dia" />
                            </figure>
                            <div class="mensaje">
                                <h4><%= highlight.name %></h4>
                                <p>$<%= highlight.price.toFixed(2) %> <span class="small">mxn</span></p>
                            </div>
                        </a>
                    </article>
                </div>
                <div class="nuevos-postres">
                    <% recentProducts.map((recent)=> { %>
                        <article class="product-box">
                            <a href="/productos/<%= recent.id %>">
                                <figure class="product-box_image">
                                    <img src="<%= recent.image %>" alt="<%= recent.name %>">
                                </figure>
                                <div class="product-box_data">
                                    <h3><%= recent.name %></h3>
                                    <p>$<%= recent.price.toFixed(2) %> mxn</p>
                                    <span><%= recent.discount ? `- ${recent.discount}%` : "" %></span>
                                </div>
                            </a>
                        </article>
                    <% }) %>
                </div>
            </section>
            <div class="coleccion-repostero">
                <section class="colecciones">
                    <h3>Colecciones</h3>
                    <a href="/search?cat=<%=categories.filter(cat => cat.name==="Normal")[0].id%>">
                        <article>
                            <div class="circulo-coleccion c1">
                                <img src="/images/normal.svg" alt="Normal" />
                            </div>
                            <p>Normal</p>
                        </article>
                    </a>
                    <a href="/search?cat=<%=categories.filter(cat => cat.name==="Keto")[0].id%>">
                        <article>
                            <div class="circulo-coleccion c2">
                                <img src="/images/keto.svg" alt="Keto" />
                            </div>
                            <p>Keto</p>
                        </article>
                    </a>
                    <a href="/search?cat=<%=categories.filter(cat => cat.name==="Light")[0].id%>">
                        <article>
                            <div class="circulo-coleccion c3">
                                <img src="/images/light.svg" alt="Light" />
                            </div>
                            <p>Light</p>
                        </article>
                    </a>
                    <a href="/search?cat=<%=categories.filter(cat => cat.name==="Vegano")[0].id%>">
                        <article>
                            <div class="circulo-coleccion c4">
                                <img src="/images/vegano.svg" alt="Vegano" />
                            </div>
                            <p>Vegano</p>
                        </article>
                    </a>
                </section>
                <section class="reposteros">
                    <h3>Reposteros</h3>
                    <div class="scroll">
                        <article>
                            <img src="/images/reposteros/marisa_logo.svg" alt="" />
                        </article>
                        <article>
                            <img src="/images/reposteros/maiper.png" alt="" />
                        </article>
                        <article>
                            <img src="/images/reposteros/montparnasse.png" alt="" />
                        </article>
                        <article>
                            <img src="/images/reposteros/pastefam.png" alt="" />
                        </article>
                        <article>
                            <img src="/images/reposteros/linda.png" alt="" />
                        </article>
                    </div>
                </section>
            </div>
        </main>

        <%- include('partials/footer') %>
</body>

</html>