<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>Identificarse</title>
</head>

<body>
    <%- include('partials/header') %>

        <main class="form">
            <h3>INICIA SESIÓN</h3>
            <form action="/login" method="post" id="formulario">
                <div class="container_01">
                    <input id= "email" type="email" class="fill" placeholder="Correo electrónico" name="email" <%= locals.errors && errors.email.previous ? `value=${errors.email.previous}` : ""%> />
                    <p  id='p_email' class="alertp">Debes de escribir tu email con el que te registraste.</p>
                    
                    <input id="password" type="password" class="fill" placeholder="Contraseña" name="password" />
                    <p  id='p_password' class="alertp">Este campo no puede estar vacío.</p>
                    
                </div>
                <div class="container_03">
                    <input type="checkbox" name="recordar" id="recordar"> <label for="recordar">Recordar mi sesión</label><div class="alert">
                        <% if(locals.errors && errors.email){ %>
                            <%= errors.email.msg %>
                        <%}%>
                    </div>
                </div>

                <p id="mensaje_incorrecto" class="display_none">  <b>Error:</b> Por favor rellena el formulario correctamente. </p>

                <div class="container_02">
                    <a href="#">¿Has olvidado tu contraseña?</a>
                </div>

                <input type="hidden" name="checkout" value="<%= checkout %>">

                <div class="button_01">
                    <input type="submit" value="ENTRAR" />
                </div>

            </form>
                <div class="button_02">
                    <button onclick="window.location.href='/signup?admin=0'">CREAR CUENTA</button>
                </div>
                <div class="button_02">
                    <button onclick="window.location.href='/signup?admin=1'">¿QUIERES VENDER? AFILIATE</button>
                </div>

        </main>
        <!-- <script src="js/userValidation.js"></script> -->
        <%- include('partials/footer') %>
</body>

</html>