<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head') %>
        <title>Búsqueda</title>
</head>

<body>
    <%- include('partials/header') %>

        <main>
            <form action="/search" method="get" class="busqueda">
                <input type="text" id="buscar" name="q" placeholder="Buscar" class="txt-busqueda" />
                <button type="submit" class="btn-busqueda">
                    <i class="fas fa-search ic-busqueda"></i>
                </button>
                <select name="cat" id="cat">
                    <option value=""></option>
                    <% categories.map(category => { %>
                        <option value="<%= category.id %>">
                            <%= category.name %>
                        </option>
                    <% }) %>
                </select>
            </form>

            <h2>Resultado(s): </h2>

            <%if(!locals.searchResult){%>
                <h3>No se encontró ninguna coincidencia.</h3>
                <p>Te recomendamos el postre del día: </p>
                <div class="postres" style="margin-top: 0.5rem;">
                    <article class="postre-del-dia">
                        <a href="/products/<%= highlight.id %>">
                            <h3>Postre del día</h3>
                            <img src="<%= highlight.image %>" alt="Postre del dia" />
                            <div class="mensaje">
                                <h4>
                                    <%= highlight.name %>
                                </h4>
                                <p>$<%= highlight.price.toFixed(2) %> <span class="small">mxn</span></p>
                            </div>
                        </a>
                    </article>
                </div>
            <% } else { %>
                <p>Se encontraron <%= searchResult.length %> postre(s).</p>
                <h3><%= locals.categoryName ? `Colección ${categoryName}` : null %></h3>
                <% searchResult.map(result => { %>
                    <article class="product-box">
                        <a href="/products/detail/<%= result.id %>">
                            <figure class="product-box_image">
                                <img src="<%= result.image %>" alt="Postre1">
                            </figure>
                            <div class="product-box_data">
                                <h3><%= result.name %></h3>
                                <p>$<%= parseFloat(result.price).toFixed(2) %> mxn</p>
                                <span><%= result.discount * 10 %> %</span>
                            </div>
                        </a>
                    </article>
                <% }) %>
            <% } %>
        </main>

        <%- include('partials/footer') %>
</body>

</html>