<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Cambiar contraseña</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main class="form">
        <h3>INICIA SESIÓN</h3>
        <form action="/reset/password" method="post" id="formulario">
            <div class="container_01">    
                <input id="password" type="password" class="fill" placeholder="Contraseña" name="password" required <%= expired ? "disabled" : "" %>/>
                <p  id='p_password' class="alertp">Este campo no puede estar vacío.</p>
                <input id="password" type="password" class="fill" placeholder="Repetir Contraseña" name="password2" required <%= expired ? "disabled" : "" %>/>
                <p  id='p_password' class="alertp">Este campo no puede estar vacío.</p>
                <input type="hidden" name="token" value="<%= token %>">
            </div>
            <% if(expired) { %>
                <p>El tiempo para cambiar la contraseña a caducado. Realiza otra petición.</p>
            <% } %>

            <div class="button_01">
                <input type="submit" value="CAMBIAR CONTRASEÑA" />
            </div>

        </form>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>