<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Editar Info</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main class="form">
            <h3>MODIFICAR DATOS</h3>
            <form action="/users/<%= user.id %>/edit?_method=PUT" method="post" enctype="multipart/form-data" id="formulario">
                <div class="container_01">
                    <input id="firstName" name="firstName" type="text" class="fill" value="<%= user.firstName %>" />
                    <p  id='p_firstName' class="alertp">Debes de escribir tu nombre con más de 1 carácter.</p>

                    <input id="lastName" name="lastName" type="text" class="fill" value="<%= user.lastName %>" />
                    <p  id='p_lastName' class="alertp">Debes de escribir tu nombre con más de 1 carácter.</p>

                    <br />
                    <label for="admin" class="bold">Tipo de usuario: </label>
                    <select name="admin" id="userType" class=fill autocomplete="off">
                        <option value="0" <%= !user.admin ? "selected" : "" %>>Vendedor</option>
                        <option value="1" <%=  user.admin ? "selected" : "" %>>Comprador</option>
                    </select>
                    <br />
                    <input id="email" name="email" type="email" class="fill" value="<%= user.email%>" />
                    <p  id='p_email' class="alertp">Debes de escribir tu nombre con más de 1 carácter.</p>

                    <input id="mobile" name="mobile" type="number" class="fill" placeholder="Celular" value="<%= user.mobile%>"/>
                    <p  id='p_mobile' class="alertp">Debes de escribir tu nombre con más de 1 carácter.</p>

                    <br/>
                    <label for="avatar" class="bold">Imagen de perfil:</label>
                    <img src="<%= user.avatar %>" alt="" class="img-mod-profile">
                    <input type="file" name="avatar" id="avatar" class="fill" accept="image/png, image/jpeg, image/jpg" />

                </div>
                <div class="alert">
                    <% if(locals.errors){%>
                        <%= errors.firstName ? errors.firstName.msg : "" %>
                        <br />
                        <%= errors.lastName ? errors.lastName.msg : "" %>
                        <br />
                        <%= errors.mobile ? errors.mobile.msg : "" %>
                        <br />
                        <%= errors.email ? errors.email.msg : "" %>
                        <br />
                        <br />
                    <% } %>
                </div>

                <div class="button_01">
                    <input type="submit" value="GUARDAR" />
                </div>


            </form>
        </main>
        <script src="../../js/userValidation.js"></script>
        <%- include('../partials/footer') %>
</body>

</html>