<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>
            Hola <%= user.firstName + " " + user.lastName %>
        </title>
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <h2 style="text-align: center;">Perfil</h2>
            <section class="body-perfil">
                <figure class="img-perfil">
                    <img src="<%= user.avatar %>" alt="Imagen de perfil">
                </figure>
                <article class="info-perfil">
                    <p>Nombre: </p>
                    <h3>
                        <%= user.firstName + " " + user.lastName %>
                    </h3>
                    <p>E-mail: </p>
                    <h3>
                        <%= user.email%>
                    </h3>
                    <p>Estatus: </p>
                    <h3>
                        <%= user.admin ? "Vendedor" : "Comprador" %>
                    </h3>
                </article>
                </div>
            </section>
            <% if(sessionId === user.id){ %>
                <div class="btn-perfil">
                    <button class="btn" onclick="window.location.href='/users/<%=sessionId%>/addresses'">Direcciones</button>
                    <button class="btn modificar" onclick="window.location.href='/users/<%=sessionId%>/edit'">Modificar Info.</button>
                    <button class="btn modificar" onclick="window.location.href='/users/<%=sessionId%>/edit/password'">Cambiar contraseña</button>
                    <!-- <button class="btn eliminar" onclick="window.location.href='/users/<%=sessionId%>/delete?_method=DELETE'">Eliminar</button> -->
                    <button class="btn eliminar" onclick="showModal()">Eliminar</button>
                </div>
                
                <div id="id01" class="modal">
                    <span onclick="hideModal()" class="close-btn" title="Close Modal">×</span>
                    <form class="modal-content" method="post" action="/users/<%=sessionId%>/delete?_method=DELETE">
                        <div class="container">
                            <h1>Borrar cuenta</h1>
                            <p>¿Estás seguro de borrar tu cuenta?</p>
                            <div class="clearfix">
                                <button type="button" onclick="hideModal()" class="confirm-button confirm-cancelbtn">Cancelar</button>
                                <button type="submit" class="confirm-button confirm-deletebtn">Borrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            <% } %>

        </main>
        <script>
            let modal = document.getElementById('id01');

            const showModal = function () {
                modal.style.display = 'block'
            }

            const hideModal = function () {
                modal.style.display = 'none'
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    hideModal();
                }
            }
        </script>
        

        <%- include('../partials/footer') %>
</body>

</html>